# Exercise 1: Convert two lists into a dictionary

In [1]:
keys = ['Ten', 'Twenty', 'Thirty']
values = [10, 20, 30]

### Soulution-1

In [3]:
dictdata={}
for k,v in zip(keys,values):
    dictdata[k]=v
dictdata

{'Ten': 10, 'Twenty': 20, 'Thirty': 30}

### Soulution-2

In [4]:
resdict=dict(zip(keys,values))
resdict

{'Ten': 10, 'Twenty': 20, 'Thirty': 30}

# Exercise 2: Merge two Python dictionaries into one
#### Solution-1

In [6]:
dict1 = {'Ten': 10, 'Twenty': 20, 'Thirty': 30}
dict2 = {'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

In [9]:
dict1.update(dict2)
dict1

{'Ten': 10, 'Twenty': 20, 'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

#### Solution-2

# Exercise 3: Print the value of key ‘history’ from the below dict

In [10]:
sampleDict = {
    "class": {
        "student": {
            "name": "Mike",
            "marks": {
                "physics": 70,
                "history": 80
            }
        }
    }
}

In [11]:
sampleDict['class']["student"]["marks"]["history"]

80

# Exercise 4: Initialize dictionary with default values

In [12]:
employees = ['Kelly', 'Emma']
defaults = {"designation": 'Developer', "salary": 8000}

In [13]:
res=dict.fromkeys(employees,defaults)

In [16]:
res.keys()

dict_keys(['Kelly', 'Emma'])

# Exercise 5: Create a dictionary by extracting the keys from a given dictionary

In [21]:
sample_dict = {
    "name": "Kelly",
    "age": 25,
    "salary": 8000,
    "city": "New york"}

# Keys to extract
keys = ["name", "salary"]

#### solutions-1

In [19]:
resd=dict()
for k in keys:
    resd[k]=sample_dict[k]
resd

{'name': 'Kelly', 'salary': 8000}

#### solution-2

In [31]:
newDict = {k: sample_dict[k] for k in keys}
print(newDict)

{'name': 'Kelly', 'salary': 8000}